@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-chakra: "Chakra Petch", sans-serif;
  --animate-welcome: welcome 1s ease-out forwards 1s;
  --animate-slide: slider 1s ease-out forwards;
  --animate-typing: typing 1s ease 2s forwards;
  --color-primary: rgba(255, 255, 255, 0.7);
  @keyframes welcome {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slider {
    0% {
      transform: scaleX(0);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes typing {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
  .hero {
    @apply bg-gray-900 flex justify-center;
  }
  .hero-container {
    @apply grid grid-cols-2 bg-gray-900 h-screen max-w-300;
  }

  .hero-title {
    @apply relative text-primary text-center self-end text-9xl w-140 mx-auto overflow-hidden;
  }

  .hero-title::after {
    content: "";
    @apply absolute left-0 bottom-0 h-2 w-full bg-primary origin-left animate-slide;
  }

  .hero-title h1 {
    @apply opacity-0 animate-welcome;
  }

  .hero-desc {
    @apply w-140 mx-auto;
  }

  .hero-desc p {
    @apply animate-typing overflow-hidden leading-relaxed w-150 opacity-0 translate-y-5 text-primary;
  }

  .hero-image {
    @apply row-span-2 self-center mx-auto;
  }

  .hero-image::before {
    content: "";
    @apply absolute h-60 aspect-square rounded-full bg-primary/30 blur-2xl shadow-2xl shadow-primary animate-pulse;
  }

  .hero-image img {
    @apply z-10 relative h-60 aspect-square justify-center items-center animate-slide opacity-0;
    animation-delay: 2s;
  }

  .my-project {
    @apply bg-blue-50;
  }

  .my-project-container {
    @apply max-w-300 mx-auto py-10;
  }
  .my-project-container h1 {
    @apply text-5xl text-center font-bold;
  }

  .my-project-container p {
    @apply text-center mt-2 mb-10;
  }
  .cards {
    @apply grid grid-cols-3 gap-6;
  }
  .card {
    @apply bg-white grid grid-rows-[auto_auto_1fr] min-h-0 shadow-xs shadow-black rounded-2xl hover:shadow-gray-600 hover:shadow-xl ease-in-out duration-300 p-6 gap-3;
  }

  .card-title {
    @apply font-semibold text-2xl;
  }

  .card-desc p {
    @apply text-left m-0;
  }
  .card-image {
    @apply relative aspect-3/2 overflow-hidden rounded-t-2xl -mt-6 -mx-6 mask-b-from-40;
  }

  .card-image img {
    @apply object-cover;
  }

  .card-icon-link {
    @apply flex gap-2;
  }
  .card-icon-link svg {
    @apply h-8 transition-colors duration-300 hover:text-blue-600;
  }
}

@layer base {
  html {
    @apply font-chakra;
  }
}
