@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-chakra: "Chakra Petch", sans-serif;
  --animate-welcome: welcome 1s ease-out forwards 1s;
  --animate-slide: slider 1s ease-out forwards;
  --animate-typing: typing 1s ease 2s forwards;
  --color-primary: rgba(255, 255, 255, 0.7);
  @keyframes welcome {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slider {
    0% {
      transform: scaleX(0);
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes typing {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
  .hero {
    @apply grid grid-cols-2 bg-gray-900 h-screen max-w-300;
  }

  .hero-title {
    @apply relative text-primary text-center self-end text-9xl w-140 mx-auto overflow-hidden;
  }

  .hero-title::after {
    content: "";
    @apply absolute left-0 bottom-0 h-2 w-full bg-primary origin-left animate-slide;
  }

  .hero-title h1 {
    @apply opacity-0 animate-welcome;
  }

  .hero-desc {
    @apply w-140 mx-auto;
  }

  .hero-desc p {
    @apply animate-typing overflow-hidden leading-relaxed w-150 opacity-0 translate-y-5 text-primary;
  }

  .hero-image {
    @apply row-span-2 self-center mx-auto;
  }

  .hero-image::before {
    content: "";
    @apply absolute h-60 aspect-square rounded-full bg-primary/30 blur-2xl shadow-2xl shadow-primary animate-pulse;
  }

  .hero-image img {
    @apply z-10 relative h-60 aspect-square justify-center items-center animate-slide opacity-0;
    animation-delay: 2s;
  }
}

@layer base {
  html {
    @apply font-chakra;
  }
}
